  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  /*word-break: normal;*/
  /*word-wrap: normal;*/
  border: 1px solid grey !important;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  white-space: inherit;
}
.logo {
  height: 300px;
  width: 300px;
  float: right;
}

.join {
  height: 300px;
  width: 300px;
  float: right;
  clear: right;
}

/* set styles for alert boxes */

.danger, .funfact, .solved, .info, .warning, .question, .task {
  color: black;
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffffff 5px center/3em no-repeat;
}

.danger {
  background-image: url("images/alerts/danger.png");
  background-color: hsl(360, 80%, 85%);
  border: 3px solid hsl(360, 80%, 50%);
  border-radius: 5px;
}

.funfact {
  background-image: url("images/alerts/funfact.png");
  background-color: hsl(340, 80%, 95%);
  border: 2px solid hsl(340, 80%, 90%);
  border-radius: 5px;
}

.solved {
  background-image: url("images/alerts/solution.png");
  background-color: hsl(25, 80%, 95%);
  border: 2px solid hsl(25, 80%, 90%);
  border-radius: 5px;
}

.info {
  background-image: url("images/alerts/info.png");
  background-color: hsl(220, 80%, 95%);
  border: 2px solid hsl(220, 80%, 90%);
  border-radius: 5px;
}

.warning {
  background-image: url("images/alerts/warning.svg");
  background-color: hsl(45, 100%, 80%);
  border: 3px solid hsl(360, 80%, 50%);
  border-radius: 5px;
}

.question {
  background-image: url("images/alerts/question.png");
  background-color: hsl(100, 80%, 90%);
  border: 2px solid hsl(100, 80%, 85%);
  border-radius: 5px;
}

.task {
  background-image: url("images/alerts/task.png");
  background-color: hsl(280, 60%, 95%);
  border: 2px solid hsl(280, 60%, 85%);
  border-radius: 5px;
}

/* set styles for code output messages */

pre:not(.sourceCode) {
  background-color: hsl(240, 31%, 95%);
}
pre:not(.sourceCode) code {
  color: grey;
}




/* webex style */


/* styles for webex-solveme */
.webex-incorrect,
.webex-radiogroup label.webex-incorrect{
    border-width: 2px; 
    border-style: dotted; 
    background-color: #ff6161; 
    border-radius: 0.25em;
}
.webex-correct,
.webex-radiogroup label.webex-correct {
    border-width: 2px; 
    border-style: solid; 
    background-color: #6b8f24;
    border-radius: 0.25em;
}
/* styles for hidden solutions */
.webex-solution {
    height: 3em;
    overflow-y: hidden;
    padding: 1em;
    margin-bottom: 10px;
}
.webex-solution.open {
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
}
.webex-solution button {
    height: 1.5em;
    margin-bottom: 0.5em;
    background-color: #fad1d1;
    border-color: #f5a3a3;
    border-radius: 5px;
}
.webex-solution pre.sourceCode {
    border-color: hsl(89, 100%, 50%);
}

.webex-radiogroup label {
  margin-left: 2em;
  text-indent: -1em;
  padding-left: 0.5em;
  font-weight: 400;
  display: block;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 0.25em;
}

.webex-radiogroup label input {
  position: relative;
  left: -1em;
}

